/*-------------------------
	Simple reset
--------------------------*/

*{
	margin:0;
	padding:0;
}

/*-------------------------
	General Styles
--------------------------*/

html{
	overflow:hidden;
}

body {
	font-size: 46px;
	font-family: courier;
}



#clock div {
	display: inline-block;
}

#clock {
	padding: 5px;
	width: 300px;
	margin: 100px auto;	
	text-align: center;
	border: 1px solid black;
	z-index: -1000;
}

#seconds {
	font-size: 70%;
}

.dots {
	margin: 0px 2px 0px 2px;
}

#clock #day {
	display: block;
	clear: both;
	font-size: 60%;	
	margin-right: 20%;
}

#ampm {
	position: relative;
	bottom: 10px;
	padding: 5px;
	vertical-align: top;
	font-size: 35%;
}

#ampm div {
	display: block;
}

#ampm .inactive {
	opacity: 0.35;
}

#ampm .active {
	opacity: 1.0;
}

#hours, .dots, #minutes {
	margin-right: -30px;
}

